div.gradingnavigation div {
    float: left;
    margin-left: 2em;
}


div.submissionstatus,
div.submissionfull,
div.submissionlinks,
div.usersummary,
div.feedback,
div.gradingsummary {

    width: 70%;
    margin: 0 auto;
    margin-bottom: 5em;
}


div.submissionstatus .generaltable,
div.submissionlinks .generaltable,
div.feedback .generaltable,
div.gradingsummary .generaltable {
    width: 100%;
}

.gradingsummarytable,
.feedbacktable,
.submissionsummarytable {
    margin-top: 1em;
}


div.submissionsummarytable table tbody tr td.c0 {
    width: 30%;
}

.submittedlate {
    color: red;
    font-weight: 900;
}

.jsenabled .gradingoptionsform .hidden {display: none;}

