
.uploadziphelp {
    margin-top: 2em;
    margin-bottom: 2em;
}

div.importsummary {

    width: 70%;
    margin: 0 auto;
    margin-bottom: 5em;
}

div.currenttemplatefeedbackfile {
    margin-bottom: 1em;
}
